.home-container {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.home-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}
.home-container ul li {
    display: flex;
    flex-direction: column;
}

.home-container ul li img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.home-container ul li footer {
    flex: 1;
    background: #fff;
    border: 1px solid #eee;
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;
}

.home-container ul li footer strong {
    font-size: 16px;
    color: #333;
}

.home-container ul li footer p {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    line-height: 20px;
}

.home-container ul li .actions {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px

}

.home-container ul li .actions button {
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
    border-radius: 4px;
    border: 0;
    background: #fff;
    cursor: pointer;

}

.home-container ul li .actions button:hover img {
    transform: translateY(-5px) scale(1.2, 1.2);
    transition: all .3s;
}

.home-container .empty {
    font-size: 32px;
    color: #999;
    font-weight: bold;
    margin-top: 300px;
}
