.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666
}

.login-container form input[type='text'] {
    margin-top: 30px;
}

.login-container form input[type='password'] {
    margin-top: 5px;
}

.login-container form input::placeholder {
    color: #999
}

.login-container form button {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #df4723;
    font-weight: bold;
    color:white;
    cursor:pointer;
}

.login-container form span {
    margin-top: 10px;
    color: #666666;
}

.login-container form .forgot-pass:hover {
    cursor:pointer;
    color:#333333;
}

.login-container form .login-error {
    color: #ff5459;
    font-style: italic;
}
